body {
    background-color: #E18DFE !important;
    overflow-x: hidden;
}

.nav {
    background-color: #5E0080;
}

.nav-link {
    color: white !important;
}

.icon {
    color: #5E0080;
}

.search {
    background-color: white !important;
}

.nav-search {
    bottom: 8px;
}

@media (max-width: 575.98px) {
    .navbar-custom {
        padding: 8px;
    }

    .input-group {
        width: 100%;
    }

    .form-control {
        border-radius: 0;
    }

    .search {
        position: absolute;
        right: 0;
    }
}
@media (min-width: 576px) and (max-width: 991.98px) {
    .navbar-custom {
        padding: 12px;
    }

    .input-group {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    .search {
        position: absolute;
        right: 0;
    }
}

@media (min-width: 992px) {
    .navbar-custom {
        padding: 16px;
    }

    .input-group {
        width: auto;
        max-width: 500px;
        margin: 0;
    }

    .search {
        position: relative;
        right: auto;
    }
}

@media (max-width: 575.98px) {
    .navbar-nav {
        flex-direction: column;
    }

    .navbar-nav .nav-item {
        margin-bottom: 8px;
    }
}

@media (min-width: 576px) {
    .navbar-nav {
        flex-direction: row;
    }

     
} 
footer {
    background-color: #420059;
    color: #fff;
    padding: 20px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer-logo img {
    width: 100px;
    height: auto;
  }
  
  .footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .footer-menu ul li {
    margin-right: 10px;
  }
  
  .footer-menu ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  .footer-menu ul li a:hover {
    color: #ccc;
  }
  
  .footer-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .footer-social ul li {
    margin-right: 10px;
  }
  
  .footer-social ul li a {
    color: #fff;
    font-size: 18px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  
  
  .video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56%;  
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .title{
    color: #420059;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 37px; 
  }
  .p-matri{ 
    background: #7C00A8;
    width: 258px;
    height: 48px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .p-matri-button{
    display: flex;
    justify-content: center;
    
  }
  .card-matricula{
    color: #E18DFE;
    text-decoration: none;
    font-size: 20px;
  }
  .card-matricula:hover{
    color: white;
  } 
  .btn-voltar{
    display: flex;
    justify-content: right; 
    margin-bottom: 56px;
    margin-top: -53px;
  }
  .btn-v{
    background-color: #7C00A8 !important;
    color: white !important;
  }