body {
    background-color: #E18DFE !important;
    overflow-x: hidden;
}

.nav {
    background-color: #5E0080;
}

.nav-link {
    color: white !important;
}

.icon {
    color: #5E0080;
}

.search {
    background-color: white !important;
}

.nav-search {
    bottom: 8px;
}

@media (max-width: 575.98px) {
    .navbar-custom {
        padding: 8px;
    }

    .input-group {
        width: 100%;
    }

    .form-control {
        border-radius: 0;
    }

    .search {
        position: absolute;
        right: 0;
    }
}
@media (min-width: 576px) and (max-width: 991.98px) {
    .navbar-custom {
        padding: 12px;
    }

    .input-group {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    .search {
        position: absolute;
        right: 0;
    }
}

@media (min-width: 992px) {
    .navbar-custom {
        padding: 16px;
    }

    .input-group {
        width: auto;
        max-width: 500px;
        margin: 0;
    }

    .search {
        position: relative;
        right: auto;
    }
}

@media (max-width: 575.98px) {
    .navbar-nav {
        flex-direction: column;
    }

    .navbar-nav .nav-item {
        margin-bottom: 8px;
    }
}

@media (min-width: 576px) {
    .navbar-nav {
        flex-direction: row;
    }

     
} 
footer {
    background-color: #420059;
    color: #fff;
    padding: 20px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer-logo img {
    width: 100px;
    height: auto;
  }
  
  .footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .footer-menu ul li {
    margin-right: 10px;
  }
  
  .footer-menu ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  .footer-menu ul li a:hover {
    color: #ccc;
  }
  
  .footer-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .footer-social ul li {
    margin-right: 10px;
  }
  
  .footer-social ul li a {
    color: #fff;
    font-size: 18px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  
  .car{
    margin-left: 20px !important; 
  }
  
  .card-custom {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px; 
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .card-custom-header {
    background-color: #420059;
    color: #fff;
    padding: 20px;
  }
  
  .card-custom-title {
    font-size: 24px;
    margin: 0;
  }
  
.custom-subtitle {
    font-size: 18px;
    margin: 0;
  }
  
  .card-custom-body {
    padding: 20px;
    gap: 8px;
  }
  
  .card-custom-text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .btn-custom {
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
  }
  
  
  .btn-compra {
    width: fit-content;
    background-color: #420059;
    border-color: #420059;
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
  }
  .btn-compra:hover{
    color: #E18DFE !important;
  }
  .btn-vermais {
    width: fit-content;
    background-color: #420059;
    border-color: #420059;
    text-decoration: none;
    color: #fff;
  }
.btn-vermais:hover{
  color: #E18DFE !important;
  
} 