body {
    background-color: #E18DFE !important;
    overflow-x: hidden;
}

.nav {
    background-color: #5E0080;
}

.nav-link {
    color: white !important;
}

.icon {
    color: #5E0080;
}

.search {
    background-color: white !important;
}

.nav-search {
    bottom: 8px;
}

@media (max-width: 575.98px) {
    .navbar-custom {
        padding: 8px;
    }

    .input-group {
        width: 100%;
    }

    .form-control {
        border-radius: 0;
    }

    .search {
        position: absolute;
        right: 0;
    }
}
@media (min-width: 576px) and (max-width: 991.98px) {
    .navbar-custom {
        padding: 12px;
    }

    .input-group {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    .search {
        position: absolute;
        right: 0;
    }
}

@media (min-width: 992px) {
    .navbar-custom {
        padding: 16px;
    }

    .input-group {
        width: auto;
        max-width: 500px;
        margin: 0;
    }

    .search {
        position: relative;
        right: auto;
    }
}

@media (max-width: 575.98px) {
    .navbar-nav {
        flex-direction: column;
    }

    .navbar-nav .nav-item {
        margin-bottom: 8px;
    }
}

@media (min-width: 576px) {
    .navbar-nav {
        flex-direction: row;
    }

     
} 
.van{
    padding: 25px !important;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .item img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }

.description-vantagens {
  display: block;
  text-align: center; 
  margin-top: 10px;
}
.vantagens-container{
    display: flex;
    gap: 40px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
} 
.vantagens{
    background-color: #5E0080;
    color: white; 
} 
.text-van{
    margin: 35px;}
.btn{
margin-top: 40px;
}
.btn-custom {
    color: white !important;
    border-color: white !important;
}

.btn-custom:hover {
  color: #5E0080 !important;
  background-color: white !important;
}

.p1{
    width: 18rem;
    text-align: center;
    border-radius: 15px  !important;
}
.p2{
    width: 20rem;
    height: 400px;
    text-align: center;
    border-radius: 15px !important;
}  
.cont-p2{
    display: flex;
    gap: 53px;
    justify-content: center;
    margin-top: 60px;
}
 
.bg-p1, .p1 {
    background: #d461fa !important;
    color: white !important;    
    font-size: 15px;
}
.bg-p2, .p2 {
    background-color: #aa1fdd !important;
    color: white !important; 
    font-style: normal; 
    font-size: 16px;
}

.card-title-p2{
   font-family: 'Galdeano', sans-serif;
   color: white !important;
   font-style: normal;
   font-weight: 400;
   font-size: 42px;
}
.card-title-p1{
    font-family: 'Galdeano', sans-serif;
    color: white !important;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}
.preco{
    font-size: 27px;
    color: white; 
    font-family: ui-rounded;
    text-decoration: none !important;
}
.preco:hover{ 
    color: #5E0080;  
}
.p2:hover, .p1:hover{ 
    transform: scale(1.02);
}
.cont-p2{
    align-items: center;
}
.preco1{
    font-size: 22px;
    color: white; 
    font-family: ui-rounded;
    text-decoration: none !important;
}
.preco1:hover{ 
    color: #5E0080;  
} 
.card-plano1, .card-plano2{
    background: #E18DFE;
    color: #5E0080;
    width: 100px;
    border-radius: 7px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    text-decoration: none !important;
}
.p-p2, .p-p1{
    justify-content: center;
    display: flex;
}
.card-plano1:hover, .card-plano2:hover{
    color: rgb(125, 5, 194) !important;
}
.list-group-item, .list-group-flush{
    border: transparent !important;
}
.title-plano{
   color: #420059
}
.title-plano {
    margin-top: 40px;
  }
  
  .cont-p2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .card {
    width: 100%;
    max-width: 400px;
}
.title-tec{
    color: white;
    font-size: 26px;
}
.tec{
    background-color: #420059; 
}
.desc-tec{
  color: white;
  text-align: center;
  font-size: 20px;
}
.cont-tec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 53px;
}

.cont-tec {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .front,
  .back {
    text-align: center;
    margin-bottom: 20px;
  }
  
  @media (min-width: 768px) {
    .cont-tec {
      flex-direction: row;
      justify-content: center;
    }
    
    .front,
    .back {
      flex: 1;
      margin: 0 10px;
    }
  } 

.cont-alunos { 
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    margin-top: 45px;
  }
  
  .cont-alunos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 600px;
  }
  
  .cont-alunos img {
    max-width: 100%;
    margin-bottom: 20px;
  }
.p-matri{ 
    background: #7C00A8;
    width: 110px;
    text-align: center;
    border-radius: 18px;
}
.p-matri-button{
    display: flex;
    justify-content: center;
}
.card-matricula{
    color: #E18DFE;
    text-decoration: none;
}
.card-matricula:hover{
color: white;
} 

.cont-prof {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cont-prof div {
    margin: 10px;
    max-width: 200px;
}

.cont-prof img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .cont-prof div {
        max-width: 150px;
    }

    .cont-prof {
        margin-top: 20px;
    }
}
.profs{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #420059;
}
.text-prof{
    background-color: #420059;
    margin-bottom: -8px !important;
    color: #d461fa;
}
.profs img {
    background-color: #7C00A8;
    padding: 10px;
  }
.p-nome-prof{
    text-align: center;
    color: #d461fa;
}
.profs img:hover{
    transform: scale(1.05);
}