body {
    background-color: #E18DFE !important;
    overflow-x: hidden;
}

.nav {
    background-color: #5E0080;
}

.nav-link {
    color: white !important;
}

.icon {
    color: #5E0080;
}

.search {
    background-color: white !important;
}

.nav-search {
    bottom: 8px;
}

@media (max-width: 575.98px) {
    .navbar-custom {
        padding: 8px;
    }

    .input-group {
        width: 100%;
    }

    .form-control {
        border-radius: 0;
    }

    .search {
        position: absolute;
        right: 0;
    }
}
@media (min-width: 576px) and (max-width: 991.98px) {
    .navbar-custom {
        padding: 12px;
    }

    .input-group {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    .search {
        position: absolute;
        right: 0;
    }
}

@media (min-width: 992px) {
    .navbar-custom {
        padding: 16px;
    }

    .input-group {
        width: auto;
        max-width: 500px;
        margin: 0;
    }

    .search {
        position: relative;
        right: auto;
    }
}

@media (max-width: 575.98px) {
    .navbar-nav {
        flex-direction: column;
    }

    .navbar-nav .nav-item {
        margin-bottom: 8px;
    }
}

@media (min-width: 576px) {
    .navbar-nav {
        flex-direction: row;
    }

     
} 

footer {
    background-color: #420059;
    color: #fff;
    padding: 20px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer-logo img {
    width: 100px;
    height: auto;
  }
  
  .footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .footer-menu ul li {
    margin-right: 10px;
  }
  
  .footer-menu ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  .footer-menu ul li a:hover {
    color: #ccc;
  }
  
  .footer-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .footer-social ul li {
    margin-right: 10px;
  }
  
  .footer-social ul li a {
    color: #fff;
    font-size: 18px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
}

.ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.li {
    width: 200px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: #E18DFE;
    background-color: #420059;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.li img {
    transition: transform 0.2s ease-in-out;
  }
  
  .li img:hover {
    transform: scale(1.2);
  }  
h1{
    color: #420059;
    font-family: Arial, Helvetica, sans-serif;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 20px;
  }
  
  .pagination a {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none; 
    transition: background-color 0.3s ease;
    color: #420059;
    
    
  }
  
  .pagination a:hover {
    background-color: #420059;
    color: #f2f2f2;
  }
  
  .pagination .ellipsis {
    margin: 0 4px;
    font-weight: bold;
  }
.btn-voltar{
    display: flex;
    justify-content: right;
    margin: 19px;
}
.btn-v{
    background-color: #420059 !important;
    color: #E18DFE !important;
}
@media (max-width: 768px) {
  .pagination a {
    padding: 6px 12px;
    margin: 0 2px;
  }
}

.car{
  margin-left: 20px !important; 
}